{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": false,
  "arrowParens": "avoid",
  "parser": "typescript",
  "jsxBracketSameLine": false,
  "insertPragma": false,
  "requirePragma": false
}
